body{
    background-color: #f5f5dc;
}
/* Menu */
.logo {
    float: left;
    height: 70px; /* Ajusta el tamaño del logo según tus necesidades */
    margin: 5px;
    margin-left: 200px;
    border-radius: 20px;
  }

.logo p{
display: flex;
justify-content: space-around;
}

.menu { 
    border-bottom: 2px solid #006400;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 20px;
    justify-content: space-around;
    max-width: 50%;
    margin-left: 500px;
  }
  
  .menu li {
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  .menu li:hover {
    color: #fff;
    background-color: #006400;
    font-weight: bold;
  }

/* Banner */
.banner{
    padding: 20px;
}
.banner img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: auto;
    border-radius: 20px;
    margin-top: 10px;
  }


/* CityImages */
.city-images {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.city-image {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.city-image img {
  width: 100%;
  height: 100%;
  display: block;
}

.city-image.large {
  margin-top: 50px;
  margin-left: 20px;
  width: 60%;
  height: 600px;
  border-radius: 20px;
}

.small-images {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: space-between;
}

.city-image.small {
  width: 100%;
  margin-bottom: 10px;
}

.nombre-ciudad {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.city-image:hover {
  transform: scale(1.1);
}

/* Testimonios */
.testimonios {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #0aaee5d8;
  color: #fff;
  border-radius: 10px;
  margin: 20px;
}

.testimonio {
  text-align: center;
  margin-bottom: 10px;
}

.testimonio img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  margin-right: 20px;
  border: 4px solid #ffffff;
}

.testimonio p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.arrows button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin: 0 10px;
  
}

.arrows button:hover {
    color: #ff00d0; 
}

/* Footer */
.footer {
    background-color: #004a3f;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }
  
  .footer p {
    margin: 0;
    font-size: 1rem;
  }
  
  .iconos {
    margin-top: 10px;
  }
  
  .iconos a {
    margin: 0 10px;
    display: inline-block;
  }
  
  .iconos img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
  }
  
  .iconos img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
  }
  
  
  