#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.d-flex{
  display: flex;
}

/* :::::::::::Cabecera:::::::::::::::: */
.iconImg{
  height: 60px;
  border-radius: 5px;
}

.titulo{
  display: inline;
}
.nav{
  display: flex;
  justify-content: space-between;
  z-index: 999;
  border-bottom: 4px solid #e29d1c;
}

.nav ul{
  list-style: none;
  display: flex;
  align-items: center;
}

.nav ul a{
  font-size: 40px;
  padding: 20px;
}

/* ::::::::::::Banner:::::::::::::::: */

.container{
  width: 100%;
  margin-top: 20px;
}

#imagenes{
  width: 100%;
  height: 500px;
}


.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.border20{
  border-radius: 20px;
}


/* ::::::::::::::Formulario:::::::::::: */

body {
  font-family: Arial, sans-serif;
  background-color: #f5f3eb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.formulario {
  background-color: #302e2e;
  padding: 0px;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.form{
  padding: 20px;
}
.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}

.form-group input::placeholder {
  color: #a3a3a3;
}

.submit-button {
  background-color: #f17021;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.submit-button:hover {
  background-color: #d95e1a;
}


/* :::::::::::::Footer::::::::::::: */
.gap-20{
  gap: 20px;
  height: 80px;
  justify-content: space-between;
  background-color: #c95f21;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
}

.titulo-footer{
  margin-left: 20px;
}

.fechahora{
  display: flex;
  margin-right: 10px;
}

.fecha{
  margin-right: 10px;
}




